// =============================> Rubik



@font-face {
    font-family: "Rubik";
    src: url("../resources/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../resources/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik-Semi";
    src: url("../resources/fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../resources/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



